{% extends 'base.html' %}

{% block content %}
<p class="floating"><img src="{{ comics.img }}" class="hero-img tilt" alt="..."> <h1 class="hero-name text">{{ comics.title }}</h1><br>
    <h4 class="hero-name bottom text">{% if comics.description %} {{ comics.description }} {% else %} This comics does not have a description {% endif %}</h4></p>
    <div class="break"></div>
    <div class="centred">

{% if current_user.is_authenticated %}
<div class="dropup-center dropup">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Добавить в ...
  </button>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="./future">В планах</a></li>
    <li><a class="dropdown-item" href="./now">Читаю</a></li>
    <li><a class="dropdown-item" href="./past">Прочитано</a></li>
  </ul>
</div>
   {% endif %}
    <h2>Heroes in {{ comics.title }}</h2>
    </div>

{% include 'models_pagination.html' %}
  <div class="row row-cols-6 cards dop">

{% for hero in pages.items %}

  <div class="col col-push">
  <a href="/hero/{{ hero.hero_id }}">
    <div class="card h-100 scaling">
      <img src="{{ hero.img }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ hero.name }}</h5>
        <p class="card-text"> {% if hero.description %}{{ hero.description|truncate(50)}} {% else %} This hero doesn't have description {% endif %}</p>
      </div>
    </div>
  </a>
  </div>
{% endfor %}
    </div>
{% include 'models_pagination.html' %}

{% endblock %}