
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not pages.has_prev%} disabled {% endif %}" >
      <a class="page-link" href="./?page={{ pages.prev_num }}{% if q  %}&q={{ q }} {% endif %}">Previous</a>
    </li>
  {% for page in pages.iter_pages() %}
  <li class="page-item {% if page == pages.page %} active {% endif %} ">
  {% if page %}
  <a class="page-link" href="./?page={{ page }}{% if q  %}&q={{ q }} {% endif %}">{{ page }}</a>
  {% endif %}
  </li>
  {% endfor %}

    <li class="page-item {% if not pages.has_next%} disabled {% endif %}">
      <a class="page-link" href="./?page={{ pages.next_num }}{% if q  %}&q={{ q }} {% endif %}">Next</a>
    </li>
  </ul>
</nav>